@-webkit-keyframes scale
{
  0%   {opacity:0; -webkit-transform: scale(0.5);}
  100% {opacity:1; -webkit-transform: scale(1);}
}
@keyframes scale
{
  0%   {opacity:0; transform: scale(0.5);}
  100% {opacity:1; transform: scale(1);}
}
@-webkit-keyframes fade
{
  0%   {opacity:0;}
  100% {opacity:1;}
}
@keyframes fade
{
  0%   {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeup
{
  0%   {opacity:0; -webkit-transform: translate(0,50%);}
  100% {opacity:1; -webkit-transform: translate(0,0);}
}
@keyframes fadeup
{
  0%   {opacity:0; transform: translate(0,50%);}
  100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes fadedown
{
  0%   {opacity:0; -webkit-transform: translate(0,-50%);}
  100% {opacity:1; -webkit-transform: translate(0,0);}
}
@keyframes fadedown
{
  0%   {opacity:0; transform: translate(0,-50%);}
  100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes faderight
{
  0%   {opacity:0; -webkit-transform: translate(-50%,0);}
  100% {opacity:1; -webkit-transform: translate(0,0);}
}
@keyframes faderight
{
  0%   {opacity:0; transform: translate(-50%,0);}
  100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes fadeout
{
  0%     {opacity:1; }
  100%   {opacity:0; }
}
@keyframes fadeout
{
  0%     {opacity:1; }
  100%   {opacity:0;}
}
@-webkit-keyframes fadelight
{
  0%     {opacity:1; }
  100%   {opacity:0.2; }
}
@keyframes fadelight
{
  0%     {opacity:1; }
  100%   {opacity:0.2;}
}
@-webkit-keyframes fadeleft
{
  0%   {opacity:0; -webkit-transform: translate(50%,0);}
  100% {opacity:1; -webkit-transform: translate(0,0);}
}
@keyframes fadeleft
{
  0%   {opacity:0; transform: translate(50%,0);}
  100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes grow
{
  0%   {height:0;}
  100% {height:100%;}
}
@keyframes grow
{
  0%   {height:0;}
  100% {height:100%;}
}
@-webkit-keyframes growright
{
  0%   {width:0;}
  100% {width:100%;}
}
@keyframes growright
{
  0%   {width:0;}
  100% {width:100%;}
}
@-webkit-keyframes shake
{
  0%   {-webkit-transform:translate(-1%,0);}
  72.5% {-webkit-transform:translate(1%,0);}
  100% {-webkit-transform:translate(0,0);}
}
@keyframes shake
{
  0%   {transform:translate(-1%,0);}
  50% {transform:translate(1%,0);}
  100% {transform:translate(0,0);}
}
@-webkit-keyframes breath
{
  0%   {opacity:0.75; -webkit-transform:scale(0.85);}
  38% {opacity: 1; -webkit-transform:scale(1);}
  40% {opacity: 1; -webkit-transform:scale(1);}
  100% {opacity: 0.75; -webkit-transform:scale(0.85);}
}
@keyframes breath
{
  0%   {opacity:0.75; transform:scale(0.85);}
  38% {opacity: 1; transform:scale(1);}
  40% {opacity: 1; transform:scale(1);}
  100% {opacity: 0.75; transform:scale(0.85);}
}
@-webkit-keyframes float
{
  0% {-webkit-transform:translate(0%,0%);}
  100% {-webkit-transform:translate(3%,-3%);}
}
@keyframes float
{
  0% {transform:translate(0%,0%);}
  100% {transform:translate(3%,-3%);}
}
@-webkit-keyframes roadbreath
{
  0%   {opacity:0;}
  25%  {opacity: 1;}
  75%  {opacity: 0;}
  100% {opacity: 0;}
}
@keyframes roadbreath
{
  0%   {opacity:0;}
  25%  {opacity: 1;}
  75%  {opacity: 0;}
  100% {opacity: 0;}
}
@-webkit-keyframes cornerbreath
{
  0%   {-webkit-transform: scale(0.9);}
  50% {-webkit-transform: scale(1);}
  100% {-webkit-transform: scale(0.9);}
}
@keyframes cornerbreath
{
  0%   {transform: scale(0.9);}
  50% {transform: scale(1);}
  100% {transform: scale(0.9);}
}
@-webkit-keyframes showlight
{
  0%   {opacity:1;}
  100% {opacity: 0.5;}
}
@keyframes showlight
{
  0%   {opacity:1;}
  100% {opacity: 0.5;}
}
@-webkit-keyframes blink
{
  0%   {opacity:0; -webkit-transform:scale(1);}
  20% {opacity: 1; -webkit-transform:scale(1);}
  40% {opacity: 0.85; -webkit-transform:scale(1.05);}
  60% {opacity: 1; -webkit-transform:scale(1);}
  80% {opacity: 1; -webkit-transform:scale(1.05);}
  100% {opacity: 1; -webkit-transform:scale(1);}
}
@keyframes blink
{
  0%   {opacity:0; transform:scale(1);}
  20% {opacity: 1; transform:scale(1);}
  40% {opacity: 0.85; transform:scale(1.05);}
  60% {opacity: 1; transform:scale(1);}
  80% {opacity: 1; transform:scale(1.05);}
  100% {opacity: 1; transform:scale(1);}
}
@-webkit-keyframes lineblink
{
  0%   {opacity:1; -webkit-transform:scale(1);}
  20% {opacity: 1; -webkit-transform:scale(1);}
  40% {opacity: 0.85; -webkit-transform:scale(1.05);}
  60% {opacity: 1; -webkit-transform:scale(1);}
  80% {opacity: 1; -webkit-transform:scale(1.05);}
  100% {opacity: 1; -webkit-transform:scale(1);}
}
@keyframes lineblink
{
  0%   {opacity:1; transform:scale(1);}
  20% {opacity: 1; transform:scale(1);}
  40% {opacity: 0.85; transform:scale(1.05);}
  60% {opacity: 1; transform:scale(1);}
  80% {opacity: 1; transform:scale(1.05);}
  100% {opacity: 1; transform:scale(1);}
}
@-webkit-keyframes twinkle
{
  0%   {opacity:0;}
  20% {opacity: 1; border-color:#898989; }
  40% {opacity: 0.85; border-color:#000;}
  60% {opacity: 1; border-color:#898989;}
  80% {opacity: 1; border-color:#000;}
  100% {opacity: 1; border-color:#898989;}
}
@keyframes twinkle
{
  0%   {opacity:0;}
  20% {opacity: 1; border-color:#898989; }
  40% {opacity: 0.85;border-color:#000;}
  60% {opacity: 1; border-color:#898989;}
  80% {opacity: 1; border-color:#000;}
  100% {opacity: 1; border-color:#898989;}
}
@-webkit-keyframes shine
{
  0%   {color: #0076BE}
  20% {color: #0076BE}
  40% {color: #249fea}
  60% {color: #0076BE}
  80% {color: #249fea}
  100% {color: #0076BE}
}
@keyframes shine
{
  0%   {color: #0076BE}
  20% {color: #0076BE}
  40% {color: #249fea}
  60% {color: #0076BE}
  80% {color: #249fea}
  100% {color: #0076BE}
}
@-webkit-keyframes barshine
{
  0%   {-webkit-filter: brightness(100%);}
  20% {-webkit-filter: brightness(100%);}
  40% {-webkit-filter: brightness(150%);}
  60% {-webkit-filter: brightness(100%);}
  80% {-webkit-filter: brightness(150%);}
  100% {-webkit-filter: brightness(100%);}
}
@keyframes barshine
{
  0%   {-webkit-filter: brightness(100%);}
  20% {-webkit-filter: brightness(100%);}
  40% {-webkit-filter: brightness(150%);}
  60% {-webkit-filter: brightness(100%);}
  80% {-webkit-filter: brightness(150%);}
  100% {-webkit-filter: brightness(100%);}
}
@-webkit-keyframes barshine2
{
  0%   {-webkit-filter: brightness(100%);}
  20% {-webkit-filter: brightness(100%);}
  40% {-webkit-filter: brightness(150%);}
  60% {-webkit-filter: brightness(100%);}
  80% {-webkit-filter: brightness(150%);}
  100% {-webkit-filter: brightness(100%);}
}
@keyframes barshine2
{
  0%   {-webkit-filter: brightness(100%);}
  20% {-webkit-filter: brightness(100%);}
  40% {-webkit-filter: brightness(150%);}
  60% {-webkit-filter: brightness(100%);}
  80% {-webkit-filter: brightness(150%);}
  100% {-webkit-filter: brightness(100%);}
}
@-webkit-keyframes flipright
{
  0%   {opacity:0; -webkit-transform:rotateY(-90deg) skewY(6deg) scaleX(1.05);}
  100% {opacity: 1; -webkit-transform:rotateY(0deg) skewY(0deg) scaleX(1);}
}
@keyframes flipright
{
  0%   {opacity:0; transform:rotateY(-90deg) skewY(6deg) scaleX(1.05);}
  100% {opacity: 1; transform:rotateY(0deg) skewY(0deg) scaleX(1);}
}

/*动画*/
.fade{
  animation-name: fade;
  -webkit-animation-name: fade;
}
.faderight{
  animation-name: faderight;
  -webkit-animation-name: faderight;
}
.fadeout{
  animation-name: fadeout;
  -webkit-animation-name: fadeout;
}
.slide-wrap .fadeout{
  animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  animation-timing-function: linear !important;
  -webkit-animation-timing-function: linear !important;
}
.fadeup{
  animation-name: fadeup;
  -webkit-animation-name: fadeup;
}
.fadeleft{
  animation-name: fadeleft;
  -webkit-animation-name: fadeleft;
}
.flipright{
  transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  animation-name: flipright;
  -webkit-animation-name: flipright;
  animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
}
.showlight{
  animation-name: showlight;
  -webkit-animation-name: showlight;
}
.fadedown{
  animation-name: fadedown;
  -webkit-animation-name: fadedown;
}
.fadelight{
  animation-name: fadelight;
  -webkit-animation-name: fadelight;
}
.scale{
  animation-name: scale;
  -webkit-animation-name: scale;
}
.grow{
  animation-name: grow;
  -webkit-animation-name: grow;
  animation-duration: 400ms;
  -webkit-animation-duration: 400ms;
}
.growright{
  animation-name: growright;
  -webkit-animation-name: growright;
  text-overflow: clip;
  white-space: nowrap;
}
.growleft{
  animation-name: growright;
  -webkit-animation-name: growright;
}
.shake{
  animation-name: shake;
  -webkit-animation-name: shake;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction:alternate;
  -webkit-animation-direction:alternate;
}
.breath{
  animation-name: breath;
  -webkit-animation-name: breath;
  animation-duration: 2600ms !important;
  -webkit-animation-duration: 2600ms !important;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction:normal;
  -webkit-animation-direction:normal;
}
.float{
  animation-name: float;
  -webkit-animation-name: float;
  animation-duration: 1600ms !important;
  -webkit-animation-duration: 1600ms !important;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction:alternate;
  -webkit-animation-direction:alternate;
}
.roadbreath{
  animation-name: roadbreath;
  -webkit-animation-name: roadbreath;
  animation-duration: 2400ms !important;
  -webkit-animation-duration: 2400ms !important;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: linear !important;
  -webkit-animation-timing-function: linear !important;
  animation-direction:normal;
  -webkit-animation-direction:normal;
}
.cornerbreath{
  transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  animation-name: cornerbreath;
  -webkit-animation-name: cornerbreath;
  animation-duration: 2400ms !important;
  -webkit-animation-duration: 2400ms !important;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out !important;
  -webkit-animation-timing-function:  ease-in-out !important;
  animation-direction:normal;
  -webkit-animation-direction:normal;
}
.blink{
  animation-name: blink;
  -webkit-animation-name: blink;
}
.lineblink{
  animation-name: lineblink;
  -webkit-animation-name: lineblink;
}
.twinkle{
  animation-name: twinkle;
  -webkit-animation-name: twinkle;
}
.barshine{
  animation-name: barshine;
  -webkit-animation-name: barshine;
}
.barshine2{
  animation-name: barshine2;
  -webkit-animation-name: barshine2;
}
.shine{
  animation-name: shine;
  -webkit-animation-name: shine;
}
.animate{
  animation-duration: 600ms;
  -webkit-animation-duration: 600ms;
  animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  -webkit-animation-timing-function: cubic-bezier(.42, 0, .58, 1);
  animation-play-state: running;
  -webkit-animation-play-state: running;
  animation-fill-mode :both;
  -webkit-animation-fill-mode :both;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.animate.slow{
  animation-duration:1000ms;
  -webkit-animation-duration:1000ms;
}
.animate.quick{
  animation-duration:300ms;
  -webkit-animation-duration:300ms;
}
.delay1{
  animation-delay: 800ms;
  -webkit-animation-delay: 800ms;
}
.delay2{
  animation-delay: 1600ms;
  -webkit-animation-delay: 1600ms;
}
.delay3{
  animation-delay: 2400ms;
  -webkit-animation-delay: 2400ms;
}
.delay4{
  animation-delay: 3200ms;
  -webkit-animation-delay: 3200ms;
}
.delay5{
  animation-delay: 4000ms;
  -webkit-animation-delay: 4000ms;
}
.delay6{
  animation-delay: 4800ms;
  -webkit-animation-delay: 4800ms;
}
.delay7{
  animation-delay: 5600ms;
  -webkit-animation-delay: 5600ms;
}
.delay8{
  animation-delay: 6600ms;
  -webkit-animation-delay: 6600ms;
}
.delay9{
  animation-delay: 7200ms;
  -webkit-animation-delay: 7200ms;
}
.delay10{
  animation-delay: 8000ms;
  -webkit-animation-delay: 8000ms;
}
.delay11{
  animation-delay: 8800ms;
  -webkit-animation-delay: 8800ms;
}
.delay12{
  animation-delay: 9600ms;
  -webkit-animation-delay: 9600ms;
}
.delay13{
  animation-delay: 10400ms;
  -webkit-animation-delay: 10400ms;
}
.delay14{
  animation-delay: 11200ms;
  -webkit-animation-delay: 11200ms;
}
.delay15{
  animation-delay: 12000ms;
  -webkit-animation-delay: 12000ms;
}
.delay16{
  animation-delay: 12800ms;
  -webkit-animation-delay: 12800ms;
}
.delay17{
  animation-delay: 13600ms;
  -webkit-animation-delay: 13600ms;
}
.delay18{
  animation-delay: 14400ms;
  -webkit-animation-delay: 14400ms;
}
.delay19{
  animation-delay: 15200ms;
  -webkit-animation-delay: 15200ms;
}
.delay20{
  animation-delay: 16000ms;
  -webkit-animation-delay: 16000ms;
}

.stop{
  animation-duration: 0s !important;
  -webkit-animation-duration: 0s !important;
  animation-delay: 0s !important;
  -webkit-animation-delay: 0s !important;
}
.pause,.pause .animate{
  -webkit-animation-play-state: paused !important;
  animation-play-state: paused !important;
}
.onplay,.onplay .animate{
  -webkit-animation-play-state: running !important;
  animation-play-state: running !important;
}